* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #aaa;
}

.car {
  width: 100%;
}

.car img {
  width: 15%;
  transition-duration: 0.2s;
  position: absolute;
}

.south {
  transform: rotate(90deg);
}

.east {
  transform: rotate(0deg);
}

.north {
  transform: rotate(-90deg);
}

.west {
  transform: rotate(180deg);
}
